.bio_data {
  display: flex;
  align-items: center;
  height: 500px;
  padding: 50px 0px 25px 0px;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/001/624/835/original/abstract-technology-background-free-video.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.user_bio {
  position: relative;
  left: 240px;
}
.user_bio > h1 {
  font-size: 50px;
  font-weight: 600;
}
.user_bio > span {
  font-weight: bold;
  color: crimson;
  padding-left: 25%;
}

.talk {
  background-color: rgba(13, 14, 34, 0.644);
}

.tech {
  background-color: rgba(13, 14, 34, 0.644);
  height: 265px;
  padding: 25px 0px 25px 0px;
  box-shadow: 0 8px 6px -8px black;
}

.tech_doc {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.tech_icons {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 0px 15px 0px;
}

.tech_png:hover {
  filter: drop-shadow(0px 0px 20px white);
}

.user_info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

.About_me {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 25px 0px 50px 0px;
  box-shadow: 0 8px 6px -8px black;
}
.counter {
  display: flex;
  flex-direction: column;
}
.Bio {
  padding: 0px 25px 0px 25px;
  width: 50%;
}
.Bio > p {
  font-size: 20px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.562);
  line-break: auto;
}
.Bio > h3 {
  font-size: 30px;
  font-weight: bold;
  line-break: strict;
}
.Bio_pic {
  width: 50%;
  display: flex;
  justify-content: center;
}
.Bio_pic > img {
  filter: drop-shadow(3px 71px 38px black);
}
.Bio_counts {
  display: flex;
  align-items: center;
  gap: 8rem;
  justify-content: space-evenly;
}
.Bio_buttons {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: space-evenly;
}
.strike {
  padding: 15px 0px 15px 0px;
}
.strike > span {
  color: crimson;
  font-size: 30px;
  font-weight: bold;
}
.strike > p {
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
}

.projects {
  padding: 50px 0px 25px 0px;
}

.project_pics {
  width: 35rem;
  filter: drop-shadow(3px 49px 60px black);
}

.show1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 65px 0px 65px 0px;
}

.pic1_content {
  width: 50%;
}
.pic1_content > h3 {
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.pic1_content > p {
  font-size: 18px;
  line-break: strict;
  color: rgba(255, 255, 255, 0.562);
  overflow: hidden;
  text-overflow: ellipsis;
}
.refer {
  background-color: rgba(13, 14, 34, 0.644);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0px 50px 0px;
  box-shadow: 0 8px 6px -8px black;
}

.social_png {
  width: 50px;
  padding: 0px 10px 0px 10px;
}

.social_png:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.contact_form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0px 50px 0px;
}

.user_pic {
  border-radius: 50%;
  overflow: hidden;
  filter: drop-shadow(10px 30px 35px black);
}

.footer {
  background-color: rgba(13, 14, 34, 0.644);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 0px 30px 0px;
  box-shadow: 0 8px 6px -8px black;
}
.personal > h3 {
  font-size: 25px;
}
.personal > h4 {
  font-size: 25px;
}

/* media queries only */

@media only screen and (max-width: 1024px) {
  .user_bio {
    position: relative;
    left: 30px;
  }

  .project_pics {
    width: 27rem;
  }

  .pic1_content {
    width: 40%;
    line-break: auto;
  }

  .hit > h2 {
    font-size: 25px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 768px) {
  .user_bio {
    position: relative;
    left: 30px;
  }

  .user_bio > h1 {
    font-size: 40px;
    font-weight: bold;
  }

  .tech {
    height: 330px;
  }

  .tech_icons {
    align-content: center;
    align-items: center;
    display: flex;
    gap: 63px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px 0;
  }

  .tech_doc {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }

  .About_me {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 30px 0px 50px 0px;
    box-shadow: 0 8px 6px -8px black;
    flex-direction: column;
  }
  .Bio {
    padding: 0px;
    width: 50%;
  }

  .Bio > p {
    font-size: 20px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.562);
    line-break: auto;
    text-align: center;
  }

  .show1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 3rem;
    margin: 65px 0px 0px 0px;
    flex-direction: column;
  }
  .pic1_content > p {
    font-size: 18px;
    line-break: auto;
    color: rgba(255, 255, 255, 0.562);
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  .pic1 {
    display: flex;
  }
  .pic1_content {
    width: 50%;
    order: 1;
  }

  .pic1_content > h3 {
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
  }

  .hit {
    font-size: 18px;
    font-weight: bold;
  }

  .refer {
    padding: 15px 0px 15px 0px;
  }

  .contact_form {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0px 50px 0px;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .bio_data {
    display: flex;
    align-items: center;
    height: 230px;
    padding: 25px 0px 25px 0px;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/001/624/835/original/abstract-technology-background-free-video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .user_bio {
    position: relative;
    left: 40px;
  }

  .user_bio > h1 {
    font-size: 25px;
    font-weight: 600;
  }

  .tech {
    height: 280px;
    font-size: 25px;
    font-weight: bold;
  }

  .tech_doc {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }

  .About_me {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 50px 0px 25px 0px;
    box-shadow: 0 8px 6px -8px black;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .tech_icons {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0px 15px 0px;
    flex-direction: row;
  }
  .show1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 65px 0px 65px 0px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .pic1_content {
    order: 1;
    width: 70%;
  }
  .hit {
    font-size: 18px;
    font-weight: bold;
  }
  .refer {
    padding: 15px 0px 15px 0px;
  }
}

@media only screen and (max-width: 425px) {
  .user_bio > h1 {
    font-size: 25px;
    font-weight: bold;
  }
  .user_bio {
    position: relative;
    left: 30px;
  }
  .project_pics {
    width: 25rem;
  }
  .Bio {
    padding: 0px;
    width: 100%;
    text-align: center;
  }

  .About_me {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 25px 0px 50px 0px;
    box-shadow: 0 8px 6px -8px black;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .tech_icons {
    display: flex;
    flex-wrap: wrap;
    gap: 47px;
  }
  .tech {
    height: 285px;
    font-size: 25px;
    font-weight: bold;
  }

  .Bio_pic > img {
    width: 350px;
    filter: drop-shadow(3px 71px 38px black);
  }

  .projects {
    padding: 25px 0px 25px 0px;
  }

  .project_pics {
    width: 25rem;
  }
}
