.maintenance-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #332859;
  }
  .maintenance-content {
    padding: 2rem;
    text-align: center;
    width: 50%;
  }
.maintenance-content h1 {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
  }
.maintenance-content p{
    font-size: 1.5rem;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    
  }