body {
  box-sizing: border-box;
  margin: 0;
  background: linear-gradient(159deg, rgba(51,40,89,1) 100%, rgba(255,255,255,0.6755077030812324) 100%);
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  vertical-align: baseline; 
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}